<p-dropdown [options]="valueTypes" [(ngModel)]="selectedEmailType" (onChange)="selectEmailType($event.value)" placeholder="Select Email Type" optionLabel="name" [showClear]="true"></p-dropdown>
<p-table [columns]="cols" [value]="emails" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>

